---
layout: nil
title: About
desctiption: CSS Radarと私、斉藤祐也について
---
{% include system_head.html %}
<body>
	<div id="page" class="page-about">
		{% include header.html %}
		<div id="main" role="main">
			<article class="the-article">
			<div class="article-inner">
				<div class="content">
					<header classs="unit-head">
					<div class="unit-inner unit-head-inner">
						<h1 class="h2 entry-title">{{ page.title }}</h1>
					</div>
					</header>

					<div class="bd">
						<div class="entry-content">

							<h2 id="cssradarabout-site">CSS Radarについて</h2>

							<p>CSS
								Radarは現役フロントエンドデベロッパ/ウェブデザイナとして働く斉藤祐也がフロントエンドにまつわるベストプラクティスを紹介するブログ。 <br>
								2〜3年は遅れているという日本のウェブをアップデートしたい。そんな思いで更新していきます。</p>

							<p>CSS Radarでは一般的なブログと異なり1度更新した記事でも可能な限り最新の情報にアップデートをしていきます。  </p>

							<p>フロントエンドデベロッパが日々立ち向かう技術的な問題はGoogleで検索すれば解決方法がすぐに見つかる時代。
								最新の情報はTwitterやFacebookで自分の信頼できるソースを選んで得る事ができる時代。</p>

							<p>そんな時代に私なりのベストプラクティスを収集し集約して紹介するのがCSS Radarの編集方針としています。
								1記事 = 1トピックとして、トピックについて知っておきたいベースライン、そしてベストプラクティスを短編の本のように仕立てていく。 <br>
								トピックについての短編技術書というように考えて編成してます。 <br>
								トレンドだけに流されず、ノウハウだけにとどまらず、実践的な知識、技術を共有できるように心がけてます。</p>

							<h2 id="about-me">私自身について</h2>

							<p>コンプライアンスの確認を取る気がないので、社名はヒミツとしますが、斉藤祐也は東京にあるとあるウェブ企業にてフロントエンドデベロッパ/ウェブデザイナとして働いている32歳。 <br>
								アメリカ、ラスベガスにてプリントジャーナリズムの学士を取得、卒業後いろいろあって現職にお世話になっています。  </p>

							<p>ジャーナリズムを専攻したのは本の気の迷いでしたが、情報のカケラを集めて、1つのストーリを組み立てていくという作業は思いのほか自分に合っていることが判明。 <br>
								アメリカで英文科よりは少しはマシな気はするものの、英語自体が主体の学科は日本人の私に取っては地獄そのものといっていいくらい厳しい毎日でした。 <br>
								無事に卒業資格を得て、お世話になった教授との最後の面談で言われた言葉は今でも、これからも忘れません。 <br>
								「アメリカのどの新聞社でもあなたは働ける実力がある」 <br>
								見事なまでに新聞では働いてませんが、情報戦争のウェブの世界であの時培った技術は役に立ってます。</p>

							<p>HTMLとCSSが私のメインエリアで、JSを書いたり、Smartyなどのテンプレ言語も使ったり、ワイヤフレームを書いたり、プロジェクトの初動期のリサーチをしたり、現職のデザインレギュレーションを書いたりするのが主な仕事です。 <br>
								もちろん、ビジュアルデザインの担当もするし、インタラクションやユーザビリティ、SEOについての問題を解決するのをサポートしたりもします。 <br>
								私の仕事を一言で表現すると問題を解決する提案を実現することです。</p>


							<h2>CSS Radar以外のプロジェクト</h2>

							<p>CSS Radarではなかなか新しい記事が更新されません。 <br>
								最新の情報は<a href="https://twitter.com/intent/user?user_id=107867741">Twitter@cssradar</a>にて1日5件以内で紹介しています。 <br>
								また<a href="http://tinyletter.com/cssradar">CSS Radar Newsletter</a>にて1週間分のつぶやきをまとめてメールマガジンとしてまとめています。  </p>

							<p>コラボキュレーションと名前を付けた<a href="https://github.com/studiomohawk/fakebrain/wiki">fakebrain project</a>を始めました。
								fakebrain projectはキューレションをコラボレートして、多数のコラボレータからBest ofを集めていきます。 <br>
								世の中“まとめ”が百花絢爛ですが、10も20も同じ系列のまとめがあったら、それをまとめるまとめが必要になってしまう。 <br>
								いたちごっこは火を見るよりも明らかなので、wikiを使ってコラボすることでそれを未然に防ごうというチャレンジです。 <br>
								コラボレータは常に募集中です。githubのアカウントが必要になりますが無料ですので、是非。</p>

							<h2 id="about-question">記事のリクエスト、質問など</h2>

							<p>記事への質問、リクエストなどは、<a href="https://twitter.com/intent/user?user_id=107867741">Twitter@cssradar</a>か、cssradar+ask@gmail.comにて受け付けているのでお気軽にどうぞ。</p>

						</div>
					</div>
				</div>
			</div>
			</article>
		</div><!-- id="main" -->
		{% include footer.html %}
	</div><!-- id="page" -->
	{% include system_foot.html %}
</body>
</html>
