@import "_base.less";
@import "_module.less";
@import "_less-base.less";

/* GLOBAL
--------------------------------------------------------------------------------- */
html {
	background-color: @base03;
	color: @base0;
}

#page {
	background: url('@{blizzard}') repeat 0 0;
}

/* LINK
--------------------------------------------------------------------------------- */

a {
	&:link {
		color: @base0;
		text-decoration: none;
	}
	&:visited {
		color: darken(@base0, 10%);
		text-decoration: none;
	}
	&:hover {
		color: lighten(@base0, 20%);
		text-decoration: none;
	}
}

/* HEADER
--------------------------------------------------------------------------------- */
.unit-the-head {

	.logo {
		font-family: @webfont;
		margin: 0;
		letter-spacing: 2px;
	}
	.logo, .nav-global {
		a {
			&:link {
				color: @base0;
				border: 0;
			}
			&:visited {
				color: darken(@base0, 10%);
				border: 0;
			}
			&:hover {
				color: lighten(@base0, 20%);
				border: 0;
			}
		}
	}
	.tagline {
		font-family: @webfont;
		margin-bottom: 0;
		letter-spacing: 2px;
	}

} // .unit-the-head

/* MAIN
--------------------------------------------------------------------------------- */
.unit-article, .the-article {
		header {
			margin-bottom: @line-height / @em;
			padding-top: (@line-height / @em);
			padding-bottom: (@line-height / @em) ;
			h1, h2 { margin-top: 0; }
			.meta p {
				margin-bottom: 0;
				margin-left: 0;
				.update-pub:before { content: "Updated:" }
				.update-pub:after { content: "/" }
				.date-pub:before { content: "Published:" }
			}
		} // .article-inner header
} // .the-article

			h1:first-child, h2:first-child { margin-top: 0; }
			h2, h3, h4, h5, h6 {
				color: @base0;
				a {
					&:link {
						color: @base0;
						border: 0;
					}
					&:visited {
						color: darken(@base0, 10%);
						border: 0;
					}
					&:hover {
						color: lighten(@base0, 20%);
						border: 0;
					}
				}
			}

		a {
			&:link { border-bottom: 1px dotted @red; }
			&:visited { border-bottom: 1px dotted darken(@red, 10%); }
			&:hover { border-bottom: 1px dotted lighten(@red, 10%); }
		}

		blockquote {
			border-left: 1em solid rgba(21, 25, 25, 0.8);
			padding-left: 1em;
			margin-left: 0;
			margin-right: 0;
			p {
				margin-left: 0;
				margin-right: 0;
			}
		}
		ul, ol, dl { padding-left: 0; }
		ul { list-style: square; }
		ol { list-style: decimal; }
		li {
			h1, h2, h3, h4, h5, p, ul, ol, dl, blockquote, .hasGrid { margin-left: 0; }
		} 
		p code, li code {
			background-color: lighten(@subtle, 20%);
			padding: 2px;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
		}
		img.left { margin-right: 16px; }
		img.right { margin-left: 16px; }
		img.huge { position: relative; }
		.highlight { margin-bottom: @line-height / @em; }
		.highlight:before {
			content: "Source code:";
			display: block;
			margin-bottom: 24px;
		}
		.highlight pre {
			color: #f2f2f2;
			background-color: #404040;
			border: 1px solid #4d4d4d; 
			font-family: "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
			margin: 0;
			padding: @line-height / @em;
			overflow: auto;
		}
		.ask {
			.askme {
				.link-block;
			}
		}

		.unit-foot {
			background: #4d4d4d;
			color: #fafafa;
			a {
				&:link { color: #fafafa; }
				&:visited { color: #fafafa; }
				&:hover { color: #ffffff; }
			}
			padding-top: @line-height / @em;
			padding-bottom: @line-height / @em;
			position: relative;
			nav ul {
				list-style: none;
				li { display: inline; }
			}
			.pagination { margin-bottom: @line-height / @em; }
		} // .article-inner .unit-foot


/* home & archive */
.page-home,
.page-archive {

	article {
		margin-bottom: @line-height / @em;
		.title {
			margin-top: 0;
			margin-bottom: 0
		}
	}

	.unit-article-inner {
		.meta {
			margin-bottom: 0;
			.update-pub:before { content: "Updated:" }
			.update-pub:after { content: "/" }
			.date-pub:before { content: "Published:" }
		}
	}

} // .page-home, .page-archive

.page-about {
	.the-article .article-inner header h1 { margin-bottom: 0; }
} // .page-home

/* FOOTER
----------------------------------------------- */
.unit-the-foot {
	background-color: #1a1a1a;
	background: url('@{fakebrick}') repeat 0 0 rgba(21, 25, 25, 0.8);
	color: #fafafa;
	color: rgba(250, 250, 250, 0.8);
	padding-bottom: @line-height / @em;
	a {
		&:link {
			color: @red;
			border: 0;
		}
		&:visited {
			color: darken(@red, 10%);
			border: 0;
		}
		&:hover {
			color: lighten(@red, 10%);
			border: 0;
		}
	}
	ul {
		list-style: square;
		padding-left: 1em;
	}

	.license {
		clear: both;
		p { margin-bottom: 0; }
	}
}

@import "_layout.less";
@import "_helper.less";
