<header id="head" class="unit-the-head">
<div class="unit-inner unit-the-head-inner">
	<div class="logo-area">
		<p class="logo h2"><a href="/">{{ site.sitename }}</a></p>
		<p class="tagline">{{ site.tagline }}</p>
	</div>

	{% if page.layout != "home" %}
	<nav class="nav-global">
		<ul>
			<li class="home"><a href="/" class="icon-pictos" data-icon="H">Home</a></li>
			<li class="about"><a href="/about/" class="icon-pictos" data-icon="i">About</a></li>
		</ul>
	</nav>

	<!-- Begin MailChimp Signup Form -->
	<div id="mc_embed_signup">
		<form action="http://studiomohawk.us2.list-manage.com/subscribe/post?u=0c8604ec46b9f779a3f5b6a1c&amp;id=7e22d97a1d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate subscribe" target="_blank">
			<input type="email" value="" name="EMAIL" class="email input-text" id="mce-EMAIL" placeholder="Newsletterへの登録はこちらから" required>
			<input type="submit" value="登録 (無料)" name="subscribe" id="mc-embedded-subscribe" class="input-submit">
		</form>
	</div>
	<!--End mc_embed_signup-->
	{% endif %}

</div>
</header><!-- id="head" -->
