<header id="head" class="unit-the-head">
<div class="unit-inner unit-the-head-inner">
	<div class="logo-area">
		<p class="logo h2"><a href="/">{{ site.sitename }}</a></p>
		<p class="tagline">{{ site.tagline }}</p>
	</div>
	<nav class="nav-global">
		<ul class="list-linear">
			<li class="home"><a href="/" class="icon-pictos" data-icon="H">Home</a></li>
			<li class="ask"><a href="#newsletter" class="icon-pictos" data-icon="M">Newsletter</a></li>
			<li class="ask"><a href="/ask/" class="icon-pictos" data-icon="?">Ask</a></li>
			<li class="about"><a href="/about/" class="icon-pictos" data-icon="i">About</a></li>
		</ul>
	</nav>
</div>
</header><!-- id="head" -->
