<h4>elsewhere</h4>
<ul>
	<li><a href="http://css.studiomohawk.com" rel="me" title="Mini book for Front Ender">CSS Radar</a> / フロントエンダのためのミニブック、トピック募集中</li>
	<li><a href="http://newsletter.studiomohawk.com/" rel="me" title="Newsletter">CSS Radar Newsletter</a> / CSS Radarニュースレター。Twitterまとめ + α</li>
	<li><a href="http://twitter.com/#!/cssradar" rel="me" title="cssradar@twitter">cssradar@twitter</a> / 1日5件以内でウェブデザイン情報をつぶやきます</li>
	<li><a href="https://github.com/studiomohawk/fakebrain/wiki" rel="me" title="fakebrain project">fakebrain</a> / コラボキュレーションプロジェクト。参加者募集中</li>
</ul>
