{% include system_head.html %}
<body>
	<div id="page">
		{% include header.html %}
		<div id="main" role="main" class="unit-main">
			<div class="unit-inner unit-main-inner">
				<article class="the-article hentry">
				<div class="article-inner">
				<div class="content">
					<header class="unit-head">
					<div class="unit-inner unit-head-inner">
						<h1 class="h2 title entry-title">{{ page.title }}</h1>
							<p class="meta">
								<date class="date-pub" title="{{ page.date | date_to_xmlschema }}" datetime="{{ page.date | date_to_xmlschema }}" pubdate>
								<span class="day">{{ page.date | date: '%d' }}</span>
								<span class="month"><abbr>{{ page.date | date: '%b' }}</abbr></span>
								<span class="year">{{ page.date | date: '%Y' }}</span>
								</date>
							</p>
					</div>
					</header>
					<div class="bd">
						<div class="entry-content">
							{{ content }}
						</div>
						<div class="misc-content">
							{% include social.html %}
							{% include ask.html %}
						</div>
					</div>
					<footer class="unit-foot">
					<div class="unit-inner unit-foot-inner">
						<nav class="pagination">
							<ul>
								{% if page.previous %}
								<li class="prev"><a class="internal" rel="prev"  href="{{ page.previous.url }}" title="View {{ page.previous.title }}">&laquo; {{ page.previous.title }}</a></li>
								{% endif %}
								{% if page.previous and page.next %}
								<li class="pipe"> | </li>
								{% endif %}
								{% if page.next %}
								<li class="next"><a class="internal" rel="next"  href="{{ page.next.url }}" title="View {{ page.next.title }}">{{ page.next.title }} &raquo;</a></li>
								{% endif %}
							</ul>
						</nav>
						<nav class="archive">
							<ul>
								<li><a href="/">一覧を見る</a></li>
							</ul>
						</nav>
					</div>
					</footer>
				</div>
			</div>
			</article>
		</div>
		</div><!-- id="main" -->
	{% include footer.html %}
	</div><!-- id="page" -->
	{% include system_foot.html %}
</body>
</html>
